.DS_Store
**/.DS_Store
.env
.env.dev
server/server
server/app/coverage.out

landing/.env
landing/node_modules
landing/dist

preview-generator/node_modules
preview-generator/test-results
preview-generator/generated-assets
