.vscode
.DS_Store
**/.DS_Store
.env
.env.dev
server/server
server/tmp/
server/app/coverage.out

landing/.env
landing/node_modules
landing/dist
landing/assets

preview-generator/node_modules
preview-generator/test-results
preview-generator/generated-assets

docs/.vitepress/dist
docs/.vitepress/cache
docs/node_modules
docs/public/assets


client-old

# React Client
client/node_modules/
client/.next/
client/.turbo/
server/tmp/

# Node
**/node_modules
**/.next
**/.turbo
**/dist
**/build
